<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regisdataweb</title>

  <%- include(info_pagina.subir_a_raiz + 'partials/headerlinks') %>
</head>

<body>
  <style>
    body{
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .actualizar-usuario{
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 100;
    }
  </style>

  <div class="App">
  </div>

  <script src="/login/admin/usuarios/editar.jsx" type="text/babel" defer></script>

  <%- include(info_pagina.subir_a_raiz + 'partials/footer') %>
</body>

</html>