<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regisdataweb</title>

    <%- include(info_pagina.subir_a_raiz + 'partials/headerlinks') %>
  </head>

  <body>
    <style>
      body {
        background-color: #121212;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
    </style>

    <div class="App"></div>

    <script type="text/babel">
      function App() {
        return (
          <ThemeProvider theme={theme}>
            <CssBaseline />
            <div className="ta-center">
              <LogoConNombre
                className="silueta-blanca pad-10"
                w={300}
                h={100}
              />
              <h1>404</h1>
              <h2>Página no encontrada</h2>
              <Button variant="contained" color="primary" href="/">
                Volver al inicio
              </Button>
            </div>
          </ThemeProvider>
        );
      }

      ReactDOM.render(<App />, document.querySelector(".App"));
    </script>

    <%- include(info_pagina.subir_a_raiz + 'partials/footer') %>
  </body>
</html>
