body, html{
        margin: 0;
        padding: 0;
}

hr{
        opacity: 0.3;
}

.contenedor-checkbox-dinamico{
        .true{
                display: none;
        }
        .false{
                display: inline-block;
        }
        &:has(input:checked){
                .true{
                        display: inline-block;
                }
                .false{
                        display: none;
                }
        }
}