.ta-right{
        text-align: right;
}

.ta-center{
        text-align: center;
}

.ta-left{
        text-align: left;
}

.b-s-1px-darkgreen{
        border: solid 1px darkgreen !important;
}

.b-s-1px-darkred{
        border: solid 1px darkred !important;
}

.c-white{
        color: white !important;
}

.c-red{
        color: red !important;
}

.c-darkred{
        color: darkred !important;
}

.c-green{
        color: green !important;
}

.c-lime{
        color: lime !important;
}

.m-5{
        margin: 5px !important;
}

.pad-10{
        padding: 10px;
}

.pad-20{
        padding: 20px;
}

.w-100P{
        width: 100%;
}

.w-90P{
        width: 90%;
}

.h-100P{
        height: 100%;
}

.border-0 {
        border: 0 !important;
}

.d-inline-block{
        display: inline-block;
}

.d-none{
        display: none !important;
}

.silueta-blanca{
        filter: brightness(0) invert(1);
}

.no-min-width{
        min-width: 0 !important;
}

.white-space-nowrap{
        white-space: nowrap;
}