body{
        padding-left: 70px !important;
}

.seccion-boton-menu{
        padding: 5px;
        width: 100%;
        text-align: center;
}

.menu-izquierda-desactivador{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
        z-index: 99990;
        cursor: pointer;
}

.colapsado-vista{
        display: block !important;
        animation: fadeIn 0.25s ease-in-out;
}

.descolapsado-vista{
        display: none !important;
}

.seccion-boton-menu{
        width: 100%;
}

body:has(#estado-colpasamiento:checked){
        .menu-izquierda-desactivador{
                display: block;
        }

        .seccion-boton-menu.colapsador{
                text-align: right;
        }

        .colapsado-vista{
                display: none !important;
        }

        .descolapsado-vista{
                display: block !important;
                animation: fadeIn 0.25s ease-in-out;
        }
}

.menu-izquierda{
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 70px;
        height: 100vh;
        background-color: darkblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 99999;
        transition: width 0.25s ease-in-out;

        &:has(#estado-colpasamiento:checked){
                width: 300px;
        }
}